<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			<div th:each="transaction : ${transactions}">
				<tr>
					<td><a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}">[[${transaction.id}]]</a></td>
					<td th:text="${#temporals.format(transaction.date, 'MM/dd/yyyy')}"></td>
					<td th:text="${transaction.retailer}"></td>
					<td><span th:if="${transaction.type == 'C'}">[[${transaction.amount}]]</span></td>
					<td><span th:if="${transaction.type == 'D'}">[[${transaction.amount}]]</span></td>
				</tr>
			</div>
		</table>
	</body>
</html>